*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#calculator{
  border: 2px solid grey;
  border-radius: 5px;
  width: 350px;
  padding: 1rem;
  text-align: center;
  margin: auto;
  justify-content: center;
}

body{
  margin: 9% auto;
}

@media screen and (max-width: 600px) {
  body {
    margin: 30% auto;
  }
}

#display{
  width: 290px;
  height: 2.7rem;
  margin-top: 0.1rem;
  margin-bottom: 1.1rem;
  border: 2px solid rgb(167, 167, 169);
  border-radius: 4px;
  font-size: 25px;
  color: rgb(40, 40, 57);
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 60px;
  height: 50px;
  border: 2px solid rgb(169, 167, 167);
  border-radius: 4px;
  margin: 0.5rem 0.7rem;
  color: rgb(26, 26, 39);
  font-size: 21px;
}

.button:hover{
  color: rgb(13, 13, 25);
  background-color: rgb(221, 226, 224);
  border-color: rgb(73, 72, 72);
}
